{% extends "base.html" %}
{% block leftnav %}<a href="/">Back</a>{% endblock %}
{% block title %}About{% endblock %}


{% block content %}
    <ul class="pageitem">
      <li class="textbox">
        <span class="header">A Gentle Push for the Better</span>
        This project was created after I saw the film Memento, in which the protagonist had to write himself memos since he forgets anything he experienced every 5 minutes or so because of his strange condition. All the clues he used to solve his problem were written on note so that later he can read the notes and act. 
        <br /><br />Later I realise that we, although free of the strange condition, often forget about the life lessons we learn and often step into the same unpleasant situation time after time. What if we could have a collective notebook which can remind us of what to do or what not to do? It could serve as a memento for us who forgets about the valuable lessons.
        <br /><br />
        I am not sure if this approach will help or not, that's why I put together this app and let it have a test run. If this app helps you, drop me a line at: angkec@gmail.com, I would love to hear the story from you. If you have suggestions, feel free to contact me too, I will be more than happy to implement the necessary features. If you are not happy with the suggestion this app currently has, please contribute by pressing the "Add an entry" button. 
        <br /><br />
        Have a conscious and better life!<br />
        -- Angke
        
      </li>
    </ul>
    
{% endblock %}